/* Container for Navbar */
.navbar-container {
    margin-bottom: 1rem;
  }
  
  /* Navbar styles */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #1f1f1f; /* Dark background */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border-radius: 8px;
  }
  
  /* Logo or Brand Name */
  .navbar-logo {
    text-decoration: none;
    margin-left: 10px;
  }
  
  .navbar-logo h2 {
    color: #ffffff; /* White text */
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
    transition: color 0.3s ease;
  }
  
  .navbar-logo h2:hover {
    color: #4caf50; /* Green hover effect */
  }
  
  /* Form styles for alignment */
  .navbar-form {
    display: flex;
    align-items: center;
  }
  
  /* Button styling */
  .navbar-button {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    background-color: transparent;
    color: #4caf50; /* Green color */
    border: 2px solid #4caf50;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #4caf50; /* Button changes to green */
    color: #fff;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Shadow on hover */
  }
  